  body {

      background-image: url(Tiny%20doctor%20giving%20health%20insurance.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

  }

  input {

      border: 1px solid #ccc !important;

      margin: 0 0 5px !important;
      padding: 10px !important;

      color: #88888C !important;
      background-color: transparent !important;
  }

  input:hover {
      -webkit-transition: border-color 0.3s ease-in-out !important;
      -moz-transition: border-color 0.1s ease-in-out !important;
      transition: border-color 0.1s ease-in-out !important;
      border: 1px solid #c1c1c1 !important;
  }

  button[type="submit"] {
      cursor: pointer;
      width: 100%;
      border: none;
      border-radius: 5px;
      background: #614cd4;
      color: #FFF;
      margin: 0 0 5px;
      padding: 15px;
      font-size: 15px;
      font-weight: 600;
  }

  button[type="submit"]:hover {
      background: #03A693;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
  }

  button[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  .copyright {
      text-align: center;
  }

  input::focus {
      outline: none !important;
      border: 1px solid #aaa !important;
  }

  ::-webkit-input-placeholder {
      color: #888;
  }

  :-moz-placeholder {
      color: #888;
  }

  ::-moz-placeholder {
      color: #888;
  }

  :-ms-input-placeholder {
      color: #888;
  }

  .form_class_main {

      padding: 20px;
  }


  .text_class-content {
      margin-top: 100px;
  }

  .form-label {
      margin-bottom: 0.5rem;
      font-size: 11px !important;
  }


  .form-select {

      padding: 0.375rem 2.25rem 1rem 0.75rem !important;

  }
